.sumario{
    margin: 0px 25px 25px 25px;
    background: white;
    min-height: 100vh;
    display: block;
    width: 100%;
}
.sumario .titulo{
    font-size: 35px;
    padding-bottom: 5px;
    border-bottom: 5px solid rgb(224, 224, 224);
    color: var(--vermelho);
}
.sumario h3{
    font-size: 20px;
    color: var(--vermelho);
}
.sumario h3{
    font-size: 20px;
    padding-left: 25px;
}
.sumario h3{
    font-size: 20px;
    padding-left: 25px;
}
.sumario .segundo{
    padding-left: 59px;
}
.sumario p{
    padding-top: 15px;
    padding-bottom:15px;
    padding-left: 25px;
    font-size: 20px;
}
