.graphbox{
    position: relative;
    display: grid;
    padding: 20px;
    width: 99%;
    grid-template-columns:1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
}
.graphbox .box{
     position:relative;
     background: #fff;
     padding:  20px;
     width:100%;
     box-shadow: 0 7px 20px rgba(0,0,0,0.08);
     border-radius: 20px;
}
 .graphbox2{
    position: relative;
    display: grid;
    padding: 20px;
    width: 99%;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 30px;
    min-height: 200px;
}
.graphbox2 .box{
     position:relative;
     background: #fff;
     padding:  20px;
     width:100%;
     box-shadow: 0 7px 20px rgba(0,0,0,0.08);
     border-radius: 20px;
}
#myChart{
     max-height: 240px;
}
#myChart2{
     max-height: 280px;
}
@media screen and (max-width: 940px){
    .graphbox{
        display: block;
    }
    #myChart{
        width: 491px
    }
}
@media screen and (max-width: 1264px){
    .graphbox2 {
        display: block;
    }
    .graphbox {
        display: block;
    }
}
@media screen and (max-width: 640px){
    .graphbox2{
        display: block;
    }
    .graphbox .box {
        width: 321px;
        margin-bottom: 15px;
    }
    .graphbox2 .box {
        width: 321px;
        margin-bottom: 15px;
    }
}
